body{
    font-family: Arial, sans-serif;
    color: #FFF;
    background-color: #202020;
}

.username {
    position: fixed;
    top: 30px;
    left: 1400px;
    font-size: 35px;
    color: #0077be;
  }

  .user{
    position: fixed;
    top: 34px;
    left: 1340px;
    font-size: 35px;
    font-size: 30px;
    margin-left: 10px;
  }

  a{
    color: #FFF;
    text-decoration: none;
  }