body {
    font-family: Arial, sans-serif;
    background-color: #202020;
}

h1 {
    text-align: center;
    color: #0077be;
    margin-top:60px;
}

form {
    max-width: 600px;
    margin-left: 280px;
    background-color: #202020;
    padding: 50px;
    border-radius: 5px;
    margin-top: 50px;
}

label {
    display: block;
    margin-bottom: 1px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 200%;
}

input[type="text"],
textarea {
    width: 200%;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 1px;
    margin-bottom: 100px;
    font-size: 26px;
    resize: vertical;
    }

button[type="submit"] {
    background-color: #0077be;
    color: #fff;
    border: none;
    padding: 20px 40px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
      margin: 0 auto;
      margin-left: 420px;


}

.justificativa:hover{
    background: #ccc;
  }