/* Estilos gerais */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #FFF;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 40px;
    color: #333;
}

.botao {
    border: none;
    border-radius: 25px;
    color: #FFF;
    padding: 14px 32px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
    transform-origin: center;
    transition: transform 0.3s ease;
    display: block;
    width: 100%;
}

.botao:hover {
    transform: scale(1.05);
}

.footer {
    margin-top: 20px;
    color: #999;
    font-size: 14px;
}

/* Estilos para o histórico de registro de pontos */
.historico {
    margin-top: 20px;
    text-align: left;
}

.historico ul {
    list-style-type: none;
    padding: 0;
}

.historico li {
    margin-bottom: 10px;
}

.historico .registro {
    display: inline-block;
    margin-right: 10px;
}

.historico .data {
    color: #777;
}

/* Botão de entrada */
.entrada {
    background-color: #28a745; /* cor verde */
  }
  
  /* Botão de saída */
  .saida {
    background-color: #dc3545; /* cor vermelha */
  }
  
  